<h1>About page</h1>

<dl class="row">
    <dt class="col-sm-3">Курсы</dt>
    <dd class="col-sm-9">
         <p>Содержит все доступные курсы</p>
        <p>Можно просмотреть курс, изменить и добавить в корзину</p>
    </dd>

    <dt class="col-sm-3">Добавить курс</dt>
    <dd class="col-sm-9">Добавление курса на страничку курсы</dd>


    <dt class="col-sm-3">Корзина</dt>
    <dd class="col-sm-9">Содержит все купленные курсы</dd>

</dl>