<h1>Добавьте новый курс</h1>

<form action="add" method="POST">
    <div class="mb-3">
        <label for="title" class="form-label">Название курса</label>
        <input type="text" name="title" class="form-control" id="title">
    </div>
    <div class="mb-3">
        <label for="price" class="form-label">Цена курса</label>
        <input type="text" name="price" class="form-control" id="price">
    </div>
    <div class="mb-3">
        <label for="img" class="form-label">URL картинки</label>
        <input type="text" name="img" class="form-control" id=img">
    </div>
    <input type="hidden" name="_csrf" value="{{csrf}}">
    <button class="btn btn-primary">Добавить курс</button>
</form>