.nav-link hover{
    background-color: chartreuse;
}

.price {
    font-size: 20px;
}

.course-form{
    margin-bottom: 10px;
}

.log-form{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.error{
    color: red;
}